body {
    margin: 0;
    padding: 0;
    background-color: #171b36;
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #aaaaaa;
    font-size: 1em;
}
img {
    width:300px;
    object-fit:scale-down;
}
hr {
    border:1px solid #febd09;
}
b {
    color: #febd09;
}
i {
    color: rgb(119, 187, 255);
    font-size: 0.9em;
}
a {
    color: #aaaaaa;
}
a:active {
    color: #aaaaaa;
}
.menu a {
    color: #febd09;
    font-size: 1em;
}
.menu a:active {
    color: #febd09;
    font-size: 1em;
}
.htable table {
    border-collapse: collapse;
}
.htable th {
    color: #bbbbbb;
}
.htable td {
    border-style:solid;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:1px solid #febd09;
    padding: 3px;
    word-wrap:  -word;
}
.htable a {
    color: #aaaaaa;
}
.htable a:active {
    color: #aaaaaa;
}
