body {
    margin: 0;
    padding: 0;
    background-color: #171b36;
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #777777;
    font-size: 1em;
}

.menu a {
    color: #febd09;
    font-size: 1em;
}
.menu a:active {
    color: #febd09;
    font-size: 1em;
}

.htable table {
    border-collapse: collapse;
    width: 100%;
}
.htable table table {
    border-collapse: none;
    width: 100%;
}
.htable th {
    color: #bbbbbb;
}
.htable td {
    border-style:solid;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:1px solid #febd09;
    padding: 3px;
}
.htable td td {
    border-style:solid;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:none;
    padding: 3px;
    background-color: #121631;
}
.htable b {
    color: #febd09;
}
.htable i {
    color: rgb(119, 187, 255);
    font-size: 0.7em;
}
.htable a {
    color: #aaaaaa;
}
.htable a:active {
    color: #aaaaaa;
}

.htable2 td {
    border-style:solid;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:1px solid #ffffff;
    padding: 3px;
}
